<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listner>
<listner class-name=" com.crm.listener_utilites.ListenerImpClass"/>
</listner>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.crm.verficationpractice.HomePageVerficationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
